<%- include ('header.ejs') %>

<div class="row">
    <div class="col s12 m6">
      <div class="card red lighten-3">
        <div class="card-content white-text">
          <span class="card-title"><%= msg.title %></span>
          <p><%= msg.errorMsg %></p>
        </div>
        <div class="card-action white-text">          
          <a href="http://back.remicos.com.co:8081/api/promos/<%= id %>" >aceptar</a>
        </div>
      </div>
    </div>
  </div>



  <%- include ('footer.ejs') %>